services:
  - type: web
    name: ifc-file-splitter
    runtime: python
    buildCommand: pip install .
    startCommand: python main.py serve --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.14.2
      - key: MAX_WORKERS
        value: 1
      # - key: ALLOWED_ORIGINS
      #   value: 

